.scrollable-videos {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;

  /* For Firefox */
  scrollbar-width: thin; /* ya 'none' for completely hidden */
  scrollbar-color: transparent transparent;

  /* For Chrome, Edge, Safari */
}

.scrollable-videos::-webkit-scrollbar {
  width: 0px; /* completely hide */
  background: transparent; /* make background transparent */
}

.scrollable-videos::-webkit-scrollbar-thumb {
  background: transparent; /* make thumb transparent */
  border-radius: 0px;
}
.scrollable-videos {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;

  /* For Firefox */
  scrollbar-width: thin; /* ya 'none' for completely hidden */
  scrollbar-color: transparent transparent;

  /* For Chrome, Edge, Safari */
}

.scrollable-videos::-webkit-scrollbar {
  width: 0px; /* completely hide */
  background: transparent; /* make background transparent */
}

.scrollable-videos::-webkit-scrollbar-thumb {
  background: transparent; /* make thumb transparent */
  border-radius: 0px;
}
